@using Microsoft.Extensions.Localization


@*@inject IStringLocalizer<SharedResource> SharedLocalizer*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        <h1>@Localizer["Hello"]</h1>
    </div>
</body>
</html>